*,
*:before,
*:after {
  box-sizing: inherit;
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  height: 100%;
  box-sizing: border-box;
}
#app {
  width: 100%;
  height: 100%;
}
.wrapper, .content-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-container {
  margin-top: 30px;
}
.btn-submit {
  background-color: #ffad38;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 0px;
  z-index: 0;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2);
  &:hover, &:active, &:focus, &:visited {
    background-color: #ffc674;
    color: #fff;
    outline: none;
  }
}
.btn-block {
  margin-bottom: 20px;
}
.btn-link {
  @extend .btn-submit;
  text-decoration: none!important;
  &:hover, &:active, &:focus, &:visited {
    background-color: #ffad38;
    color: #fff;
    outline: none;
  }
}
.btn-back {
  background-color: #ffe8c8;
  color: #004f89;
  z-index: 0;
  border: none;
  font-size: 15px;
  outline: none;
  border-radius: 0px;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2);
  &.btn-default:active:focus, &.btn-default:active:hover {
    color: #004f89;
    background-color: #ffe8c8;
    border-color: #ffe8c8;
  }
  &:hover, &:active, &:focus, &:visited {
    background-color: #ffe8c8;
    color: #004f89;
    outline: none;
  }
}
.btn-link-back {
  @extend .btn-back;
  text-decoration: none!important;
  &:hover, &:active, &:focus, &:visited {
    background-color: #ffe8c8;
    color: #004f89;
    outline: none;
  }
}
.page-alert {
  text-align: center;
  .logo {
    width: 100%;
    min-height: 28px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    background: url(#{$assets-img-path}logo.png) center center no-repeat;
    background-size: contain;
  }
  .title {
    margin: 20px 0px;
    span {display: block}
  }
}
.required {
  margin-left: 5px;
  background: #cc1919;
  color: #fff;
  font-size: 10px;
  padding: 3px;
  border-radius: 5px;
}
label {
  font-weight: normal;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  border-radius: 0px;
}
.checkbox-custom {
  cursor: pointer;
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ .checkbox-layer::before {
    background-color: #ffad38;
  }
  .checkbox-layer {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }
  .checkbox-layer::before {
    display: inline-block;
    content: '';
    font-size: 22px;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    background-color: #cccccc;
  }
  .checkbox-layer::after {
    position: absolute;
    display: none;
    top: 2px;
    left: 2px;
    content: '';
    width: 11px;
    height: 10px;
    background: url(#{$assets-icon-path}check.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  input[type="checkbox"]:checked ~ .checkbox-layer::after {
    display: block;
  }
}
.message-error {
  color: #cc1919;
  font-size: 12px;
  font-style: italic;
}
